
<div class="page page-dashboard" ng-controller="ProjectProgressCtrl" ng-init="notifyAjax();" >

    <!-- cards row --> 
    <div class="row">
        <!-- col --> 
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-greensea">
                    <!-- row --> 
                    <div class="row">
                        <!-- col --> 
                        <div class="col-xs-4"> <i class="fa fa-globe fa-4x"></i> </div>
                        <!-- /col --> <!-- col --> 
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-model="countTotalOrder">{{countTotalOrder}}</p>
                            <span>Total Order</span> 
                        </div>
                        <!-- /col --> 
                    </div>
                    <!-- /row --> 
                </div>

            </div>
        </div>
        <!-- /col --> <!-- col --> 
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-lightred">
                    <!-- row --> 
                    <div class="row">
                        <!-- col --> 
                        <div class="col-xs-4"> <i class="fa fa-shopping-cart fa-4x"></i> </div>
                        <!-- /col --> <!-- col --> 
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-model="countPendingOrder">{{countPendingOrder}}</p>
                            <span>Pending Order</span> 
                        </div>
                        <!-- /col --> 
                    </div>
                    <!-- /row --> 
                </div>

            </div>
        </div>
        <!-- /col --> <!-- col --> 
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-blue">
                    <!-- row --> 
                    <div class="row">
                        <!-- col --> 
                        <div class="col-xs-4"> <i class="fa fa-hourglass-end fa-4x"></i> </div>
                        <!-- /col --> <!-- col --> 
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-model="countAckOrder">{{countAckOrder}}</p>
                            <span>Inprocess Order</span> 
                        </div>
                        <!-- /col --> 
                    </div>
                    <!-- /row --> 
                </div>

            </div>
        </div>
        <!-- /col --> <!-- col --> 
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-slategray">
                    <!-- row --> 
                    <div class="row">
                        <!-- col --> 
                        <div class="col-xs-4"> <i class="fa fa-line-chart fa-4x"></i> </div>
                        <!-- /col --> <!-- col --> 
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-model="countReadyOrder">{{countReadyOrder}}</p>
                            <span>Processed Order</span> 
                        </div>
                        <!-- /col --> 
                    </div>
                    <!-- /row --> 
                </div>

            </div>
        </div>
        <!-- /col --> 
    </div>
    <!-- /row --> <!-- row --> 

    <div class="row">
        <!-- col --> 
        <div class="col-md-8" ng-init="NotificationList()">
            <!-- tile --> 
            <section class="tile" fullscreen="isFullscreen06">
                <!-- tile header --> 
                <div class="tile-header dvd dvd-btm listHeaderColor">

                    <h1 class="custom-font"><strong class="headertext">Order List</strong>
                    </h1>
                    <div ng-controller="DaterangepickerCtrl" class="page-toolbar  pull-right">
                        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate" style="margin-right: 0%" callback-fn="NotificationList('','filter')">
                            <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                            <span>{{endDate}} - {{startDate}}</span>&nbsp;&nbsp;

                            <i class="fa fa-angle-down"></i>
                        </a> 
                    </div>
                    <div class="page-toolbar pull-right table-filter-dropdown">

                        <div class="btn-group mb-20" ng-init="transactionStatus()">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-model="selectedStatus">
                                {{selectedStatus}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" value="{{transactionStatus}}" ng-model="transactionStatus">
                                <li value="all" ng-click="NotificationList('all', 'filter'); setSelectedStatus('All')"><a> All </a></li>
                                <li ng-repeat="data in transactionStatusResponse" ng-click="NotificationList(data.id, 'filter'); setSelectedStatus(data.name)"><a>{{data.name}}</a></li>
                            </ul>
                        </div>
                        <p class="pull-left headertext table-filter-title">Status</p>
                    </div>


                    <div class="page-toolbar pull-right table-filter-dropdown">

                        <div class="btn-group mb-20">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-model="requestType">
                                {{requestType}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" value="{{transactionStatus}}" ng-model="transactionStatus">
                                <li value = "all" ng-click="NotificationList('', '', 'all'); setRequestType('All')"><a> All </a></li>
                                <li value = "Transfer" ng-click="NotificationList('', '', 'Transfer'); setRequestType('Transfer')"><a>Transfer</a></li>
                                <li value = "Refill" ng-click="NotificationList('', '', 'Refill'); setRequestType('Refill')"><a>Refill</a></li>
                                <li value = "Auto Refill"ng-click="NotificationList('', '', 'Auto Refill'); setRequestType('Auto Refill')"><a>Auto Refill</a></li>
                            </ul>
                        </div>
                        <p class="pull-left headertext table-filter-title">Request Type</p>
                    </div>

                </div> 
                <!-- /tile header --> <!-- tile body --> 
                <div class="tile-body table-custom">
                    <div class="table-responsive personal-detail-height">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom" style="width: 115%">
                            <thead>
                                <tr>
                                    <th style="">Sr.</th> 
                                    <th style="width: 230px">Full Name</th>
                                    <th class="">Phone</th>
                                    <th class="" style="width: 108px">Rx No.</th>
                                    <th class="" style="width: 300px">Medicine Name</th>
                                    <th class="">Status </th> 
                                    <th class="">Delivery</th>
                                    <th class="">Technician</th>
                                    <th class="" style="width: 108px">Date Time</th>
                                </tr>    
                            </thead>
                            <tbody>
                                <tr class="{{data.request_type}} tr-height" style="max-height: 700px" ng-repeat="data in getAllDatas" ng-click="getUserDetail(data.transacationId, data.transacationId)" ng-class="{'selected':data.transacationId == selectedRow }">                          
                                    <td class="td-padding" data-id={{data.transacationId}}>{{ $index + 1}}</td> 
                                    <td class="td-padding td-padding-name" >{{data.first_name + " " + data.middle_name + " " + data.sur_name}} </td>
                                    <td class="td-padding">{{data.contact}} </td>
                                    <td class="td-padding">{{data.prescription_id}}</td>
                                    <td class="td-padding">{{data.medicine_name}}</td>
                                    <td class="td-padding">{{data.statusName}}</td>
                                    <td class="td-padding">{{data.shipping}} </td>
                                    <td class="td-padding">{{data.techName}}</td>
                                    <td class="td-padding-date">{{data.create_on}}</td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>
                </div>

                <!-- /tile body --> 
            </section>
            <!-- /tile --> 
        </div>

        <!-- /col --> <!-- col --> 
        <div class="col-md-4">
            <!-- tile --> 
            <!-- Order list (This will show on click of table row)  -->
            <section class="tile order-padding" fullscreen="isFullscreen07" ng-show="shownotification">
                <!-- tile header --> 
                <div class="tile-header dvd dvd-btm listHeaderColor">
                    <h1 class="custom-font"><strong class="headertext">Order Detail </strong></h1>

                </div>
                <!-- /tile header --> <!-- tile widget --> 
                <div class="tile-widget order-padding" >
                    <!-- row --> 
                    <div class="order-back-color ">
                        <!-- col -->
                        <table class="table" border="0">                             
                            <tbody> 
                                <tr> 
                                    <th >Name </th>
                                    <td colspan="3"> {{userdata.first_name + " " + userdata.middle_name + " " + userdata.sur_name}} </td>
                                </tr>
                                <tr> 
                                    <th >RX Number </th>
                                    <td> {{userdata.prescription_id}}  </td>
                                    <th>Source</th>
                                    <td>{{userdata.request_from}}</td>
                                </tr>
                                <tr> 
                                    <th class="th-width">Medicine Name </th>
                                    <td colspan="3">{{userdata.medicine_name}}</td>
                                </tr>
                                <tr> 
                                    <th>Date </th>
                                    <td class="td-width"> {{userdata.create_on| date : format : dd-MMM-YYYY}}</td>
                                    <th>Delivery Type</th>
                                    <td>{{userdata.shipping}}</td>
                                </tr>
                                <tr> 
                                    <th class="td-width-row">Status </th>
                                    <td> {{userdata.statusName}}</td>
                                    <th class="td-width-row">Request Type</th>
                                    <td>{{userdata.request_type}}</td>
                                </tr>
                            </tbody>
                        </table>      
                    </div>
                    <!-- /row --> 
                </div>

            </section>

            <!-- Patient detail (This will show on click of table row)  -->
            <section class="tile order-padding" fullscreen="isFullscreen07" ng-show="shownotification">
                <!-- tile header --> 
                <div class="tile-header dvd dvd-btm listHeaderColor">
                    <h1 class="custom-font"><strong class="headertext">Patient Detail </strong></h1>

                </div>
                <!-- /tile header --> <!-- tile widget --> 
                <div class="tile-widget order-padding" >
                    <!-- row --> 
                    <div class="order-back-color">

                        <table class="table" border="0">                             
                            <tbody > 
                                <tr> 
                                    <th>Name </th>
                                    <td colspan="3"> {{userdata.first_name + " " + userdata.middle_name + " " + userdata.sur_name}} </td>
                                </tr>
                                <tr> 
                                    <th class="th-width">Mobile No. </th>
                                    <td> {{userdata.contact}}  </td>
                                    <th>Email</th>
                                    <td>{{userdata.email}}</td>
                                </tr>
                                <tr> 
                                    <th>D.O.B </th>
                                    <td class="td-width">{{userdata.birth_date| date : format : dd-MMM-YYYY}}</td>
                                    <th>Gender</th>
                                    <td>{{userdata.gender}}</td>
                                </tr>
                                <tr  ng-if="userdata.shipping == 'Delivery' && userdata.zipcode != Null && userdata.address_line1 != Null && userdata.address_line2 != Null && userdata.city != Null && userdata.state != Null && userdata.shipping == 'Delivery' && userdata.zipcode != Null && userdata.city != Null && userdata.state != Null"> 
                                    <th>Delivery Address </th>
                                    <td colspan="3"> {{userdata.address_line1 + ", " + userdata.address_line2}},
                                        <br>{{ userdata.city + ", " + userdata.state + ", " + userdata.zipcode + ". "}}   
                                    </td>                                   
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                    <!-- /row --> 
                </div>

            </section>

            <!-- Comments (This will show on click of table row)  -->
            <section class="tile" fullscreen="isFullscreen07" ng-show="shownotification">
                <!-- tile header --> 
                <div class="tile-header dvd dvd-btm listHeaderColor">
                    <h1 class="custom-font"><strong class="headertext">Comments </strong></h1>

                </div>
                <!-- /tile header --> <!-- tile widget --> 
                <div class="tile-widget order-padding" >
                    <!-- row -->
                    <div class="order-back-color">
                        <table class="table" border="0">                             
                            <tbody> 
                                <tr> 
                                    <th>Comment </th>
                                    <td colspan="3"> {{userdata.comment}} </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- Comments (This will show on click of table row)  -->
            <section ng-if="userdata.request_type == 'Transfer'" class="tile" fullscreen="isFullscreen07" ng-show="shownotification">
                <!-- tile header --> 
                <div class="tile-header dvd dvd-btm listHeaderColor">
                    <h1 class="custom-font"><strong class="headertext">Pharmacy Detail </strong></h1>

                </div>
                <!-- /tile header --> <!-- tile widget --> 
                <div class="tile-widget order-padding" >
                    <!-- row -->
                    <div class="order-back-color">
                        <table class="table" border="0">                             
                            <tbody> 
                                <tr> 
                                    <th>Pharmacy Name </th>
                                    <td colspan="3"> {{userdata.pharmacy_name}} </td>
                                </tr>
                                <tr> 
                                    <th>Pharmacy Number </th>
                                    <td colspan="3"> {{userdata.mobileno}} </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- tile --> 
            <!-- Chat Section     -->
            <section class="tile widget-chat" fullscreen="isFullscreen09" ng-show="shownotification">
                <div class="dvd dvd-btm">
                    <div class="row">

                        <div class="col-lg-6">
                            <button class="btn-ack detailsbox btn btn-lightred mb-10 btn-rounded btn-ef" id="modalCreateBtn" ng-click="SendAcknoweledge()" ng-disabled="disabled">Send Acknoweledge</button>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn-refill detailsbox btn btn-primary mb-10 btn-rounded btn-ef " id="refillReadyId" ng-click="SendRefillReadyAck()" ng-disabled="disabled">Refill Ready</button>
                        </div> 

                    </div> 
                </div>
                <div class="chat-message-title"  id="autoScroll">

                    <div class="tile-body chat-message-title" slimscroll="{height: '100%'}" ng-repeat="messagedata in MessageLists" >
                        <ul class="chats p-0">
                            <li class="in" ng-if="messagedata.identify == 'patient'">
                                <div class="media">
                                    <div class="pull-left thumb thumb-sm"> 
                                        <img class="media-object img-circle" src="images/random-avatar2.d2558629.jpg" alt=""> 
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">
                                            <span class="name">{{userdata.first_name}} </span>
                                            <span class="datetime">{{messagedata.create_on}}</span></p>
                                        <span class="body">{{messagedata.message}} </span> 
                                    </div>
                                </div>
                            </li>
                            <li class="out" ng-if="messagedata.identify == 'pharmacy'">
                                <div class="media">
                                    <div class="pull-right thumb thumb-sm"> <img class="media-object img-circle" src="images/random-avatar1.7dd877de.jpg" alt=""> </div>
                                    <div class="media-body">
                                       
                                        <p class="media-heading" ><span class="name" >{{messagedata.techName}}</span><span></span>
                                            <span class="datetime">{{messagedata.create_on}}</span>
                                        </p>
                                        <span class="body">{{messagedata.message}} </span> 
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div> 
                <!-- /tile body --> <!-- tile footer --> 
                <div class="tile-footer">
                    <div class="chat-form" ng-hide = "showhideprop" >
                        <div class=""> <input type="text" ng-model="messageName" class="error form-control" placeholder="Type your message here...">
                        </div>
                        <div class="notificationTextRequired" style="display: none;margin-top: 1%;color: rgb(224,93,111)" ng-model="notificationTextRequired">Notification message can't be empty</div>

                    </div>

                    <div class="chat-form" ng-if="value != 'acknowledge'" style="padding-top: 0px">
                        <div  ng-init="getTechnicianList()">
                            <select ng-options="item.name for item in items" ng-model="TechnicianName" ng-change="getTechnicianName(TechnicianName)" class="form-control">
                                <option value="">Select Technician</option> 
                            </select> 
                            <input type="hidden" name="techName" ng-model="techName" value="{{techName}}">
                            <input type="hidden" ng-model="userdata.id" value="{{userdata.id}}">
                        </div>

                        <div style="margin-top: 12px">
                            <input type="text" maxlength="4" ng-change="technicianValueCheck(myobj.pinnumber)" 
                                   ng-model="myobj.pinnumber" class="form-control" placeholder="Enter your PIN Number..." autocomplete="off">                           
                        </div>
                       
                   
                        <div class="ErrorMsg" style="margin-top: 1%;color: rgb(224,93,111)">{{ErrorMsg}}</div>

                    </div>
                    <!--  if get value == Acknowledge then this Button is show -->
                    <div ng-if="value == 'acknowledge'">
                        <button class="detailsbox btn btn-greensea mb-10 btn-rounded btn-ef send-notify-btn-width" ng-click="RefillReadyAck(userdata.id)">Send As Notification
                        </button>
                    </div>
                    <!--  if value Not Acknowledge then this Button is open -->
                    <div ng-if="value != 'acknowledge'">
                        <button class="detailsbox btn btn-greensea mb-10 btn-rounded btn-ef send-notify-btn-width" ng-click="RefillReadyAck(userdata.id)" id="gettechnicianValue" ng-disabled="disabled">Send As Notification
                        </button>
                    </div>
                </div>
                <!--  Send Acknolo-->
                <div>

                </div>
                <!-- /tile footer --> 
            </section>

            <!-- /tile --> 

        </div>
        <!-- /tile --> 


    </div>
    <!-- /col --> 
</div>

