<div class="page page-core page-login" ng-app="pharmacyApp" ng-controller="ForgotPasswordCtrl">
   <div class="text-center">
      <a href class="dropdown-toggle" uib-dropdown-toggle>
            <img src="images/NeoGenRx_Logo.png" alt="" width="130" height="60">            
         </a>
   </div>
   <div ng-show = "forgetpwd" class="alert alert-success alert-dismissable text-center w-420 p-16 container">
        <strong></strong>{{forgorMsg}}
    </div>
  <!--  <div ng-show = "forgetpwd" >	
   		<p>{{forgorMsg}}</p>
   </div> -->
   <div class="container w-420 p-15 bg-white mt-40 text-center">
      <h2 class="text-light text-greensea">Forgot Password?</h2>
      <form name="form" class="form-validation mt-20" novalidate>
         <p class="help-block text-left"> Enter your e-mail address below to reset your password. </p>
         <div class="form-group">
          <input type="email" class="form-control underline-input" placeholder="Email" ng-model="user.email" required>
           </div>
      </form>
      <div class="bg-slategray lt wrap-reset mt-40 text-left">
         <p class="m-0">
          <a ng-click="forgetPassword()" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled="form.$invalid">Submit</a>
          <a ui-sref="login" class="btn btn-lightred b-0 text-uppercase">Back</a>
          </p>
      </div>
   </div>
</div>