<div class="page page-core page-login" ng-app="pharmacyApp" ng-controller="ForgotPasswordCtrl">
   <div class="text-center">
      <a href class="dropdown-toggle" uib-dropdown-toggle>
            <img src="images/NeoGenRx_Logo.png" alt="" width="130" height="60">            
         </a>
   </div>
   <div ng-show = "forgetpwd" class="alert alert-success alert-dismissable text-center w-420 p-16 container">
        <strong></strong>{{forgorMsg}}
    </div>
  <!--  <div ng-show = "forgetpwd" >	
   		<p>{{forgorMsg}}</p>
   </div> -->
   <div class="container w-420 p-15 bg-white mt-40 text-center">
      <h2 class="text-light text-greensea">Reset Password?</h2>
      <form name="userForm" class="form-validation mt-20" novalidate>
         
         <div class="form-group">
          <input type="password" name="password" id="password" class="form-control underline-input" placeholder="Enter Your New Password" ng-model="user.password" ng-minlength="6" required> 
                <p class="help-block"> 
                            <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span> <span ng-show="userForm.password.$error.minlength">Password is too short.</span> </p>
          </div>
          <div>

            <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control underline-input" ng-model="user.passwordConfirm" placeholder="Enter Your Confirm Password" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required> 
               <p class="help-block"> <span ng-show="userForm.passwordConfirm.$error.validator">Passwords do not match!</span> </p>
          <!-- <input type="email" class="form-control underline-input" placeholder="Email" ng-model="user.email" required> -->
          </div>

      </form>
      <div class="bg-slategray lt wrap-reset mt-40 text-left">
         <p class="m-0">
          <a ng-click="forgetpwdReset()" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled="userForm.$invalid">Submit</a>
          <a ui-sref="login" class="btn btn-lightred b-0 text-uppercase">Back</a>
          </p>
      </div>
   </div>
</div>