<header class="clearfix" ng-init="getLoginUserDetail();">
   <!-- Branding --> 
   <div class="branding scheme-lightred">
      <a href class="dropdown-toggle" uib-dropdown-toggle>
            <!-- <img src="images/NeoGenRx_Logo.png" alt="" width="100" height="45">             -->
         </a>
      <!-- <a class="brand" ui-sref="app.dashboard"> <span><strong>MIN</strong>OVATE</span> </a> -->
    <!-- <a class="brand" ui-sref="app.dashboard"> <span><strong>MIN</strong>OVATE</span> </a>  -->
      <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a> 
   </div>
   <!-- Branding end --> <!-- Left-side navigation --> 
   <ul class="nav-left pull-left list-unstyled list-inline">
      <li class="sidebar-collapse divided-right">
         <a href="javascript:;" collapse-sidebar>
            <fa name="outdent"></fa>
         </a>
      </li>
      
   </ul>
   <!-- Left-side navigation end --> <!-- Search --> 
   <!--<div class="search" id="main-search"> <input type="text" class="form-control underline-input" placeholder="Search..."> </div>-->
   <!-- Search end --> <!-- Right-side navigation --> 
   <ul class="nav-right pull-right list-inline">
      
      <li class="dropdown nav-profile" uib-dropdown>
         <a href class="dropdown-toggle" uib-dropdown-toggle>
            <img src="images/download.jpg" alt="" class="img-circle size-30x30"> 
            <span class="fontColor">
               {{userDetail.name}} 
               <fa name="angle-down"></fa>
            </span>
         </a>
         <ul class="dropdown-menu animated littleFadeInRight" role="menu">
            
            <li>
                <a href="" ng-click="logout()">
                  <fa name="sign-out"></fa>
                  Logout 
               </a>
            </li>
            
         </ul>
      </li>
      <li class="dropdown language" uib-dropdown>
         <a href class="dropdown-toggle" uib-dropdown-toggle> <img ng-show="currentLanguage == 'en'" src="images/flags/United-States-of-America.42ddfa1a.png" alt=""> <img ng-show="currentLanguage == 'sk'" src="images/flags/Slovakia.7afe57a3.png" alt=""> <img ng-show="currentLanguage == 'cz'" src="images/flags/Czech-Republic.1a39c7ed.png" alt=""> <img ng-show="currentLanguage == 'de'" src="images/flags/Germany.9bd09472.png" alt=""> </a> 
         <ul class="dropdown-menu pull-right with-arrow animated littleFadeInDown" role="menu">
            <li ng-class="{active: currentLanguage == 'en'}"> <a href="javascript:;" ng-click="changeLanguage('en')"> <img src="images/flags/United-States-of-America.42ddfa1a.png" alt=""> English </a> </li>
            <li ng-class="{active: currentLanguage == 'sk'}"> <a href="javascript:;" ng-click="changeLanguage('sk')"> <img src="images/flags/Slovakia.7afe57a3.png" alt=""> Slovak </a> </li>
            <li ng-class="{active: currentLanguage == 'cz'}"> <a href="javascript:;" ng-click="changeLanguage('cz')"> <img src="images/flags/Czech-Republic.1a39c7ed.png" alt=""> Czech </a> </li>
            <li ng-class="{active: currentLanguage == 'de'}"> <a href="javascript:;" ng-click="changeLanguage('de')"> <img src="images/flags/Germany.9bd09472.png" alt=""> German </a> </li>
         </ul>
      </li>
      
   </ul>
   <img src="images/NeoGenRx_Logo.png" alt="" style="margin-left:37%;margin-top: 3px" width="100" height="45">
   <!-- Right-side navigation end --> 
</header>