
<div class="page page-dashboard" ng-controller="PharmacyCtrl">
  
   <div class="row">
      <!-- col --> 
      <div class="col-md-12">
         <!-- tile --> 
         <section class="tile" fullscreen="isFullscreen06">
            <!-- tile header --> 
            <div class="tile-header dvd dvd-btm listHeaderColor" >
               <h1 class="custom-font"><strong class="headertext">User List </strong></h1>
               <ul class="controls">
                  <li>
                  <a ui-sref="app.register"> <span class="headertext">Add New</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span> </a> </li>                 
                  
               </ul>
            </div>
             <!-- /tile header --> <!-- tile body --> 
            <div class="tile-body table-custom" ng-init="list()">
               <div class="table-responsive">
                  <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
                     <thead>
                        <tr>
                           <th>ID 
                           <th>Name 
                           <th>Email
                           <th>Contact                                                  
                           
                     <tbody>
                        <tr ng-repeat="data in getAllDatas" ng-click="::getUserDetail(data.id)"> 
							{{data}}
                           <td>{{ $index+1 }} 
                           <td>{{ data.name }} 
                           <td>{{ data.email }} 
                           <td>{{data.contact}}                         
                           
                  </table>
               </div>
            </div>
            
            <!-- /tile body --> 
         </section>
         <!-- /tile --> 
      </div>
			 </div>    
   