<div class="page page-form-validate">
   <!-- page header --> 

   <!-- /page header --> <!-- page content --> 
   <div class="pagecontent">
      <!-- row --> 
      <div class="row">
         <!-- col --> 
         <div class="container w-420 p-15 bg-white mt-40" ng-controller="PharmacyCtrl">
            <form name="userForm" ng-submit="userAdd()" role="form" novalidate>
               <!-- tile --> 
               <section class="tile" fullscreen="isFullscreen01">
                  <!-- tile header --> 
                  <div class="tile-header dvd dvd-btm">
                     <h1 class="custom-font"><strong>Add</strong> New User</h1>
                     
                  </div>
                  <!-- /tile header --> <!-- tile body --> 
                  <div class="tile-body">
                     
                     <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine, 'has-success' : userForm.username.$valid && !userForm.username.$pristine}">
                        <label for="username">Username: </label> <input type="text" name="username" id="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="20" required> 
                        <p class="help-block"> <span ng-show="userForm.username.$invalid && !userForm.username.$pristine">Username is required.</span> <span ng-show="userForm.username.$error.minlength">Username is too short.</span> <span ng-show="userForm.username.$error.maxlength">Username is too long.</span> </p>
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success' : userForm.email.$valid && !userForm.email.$pristine}">
                        <label for="email">Email: </label> <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required> 
                        <p class="help-block"> <span ng-show="userForm.email.$invalid && !userForm.email.$pristine">Email is required.</span> </p>
                     </div>
                     <div class="row">
                        <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
                           <label for="password">Password: </label> <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-minlength="6" required> 
                           <p class="help-block"> <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span> <span ng-show="userForm.password.$error.minlength">Password is too short.</span> </p>
                        </div>
                        <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
                           <label for="passwordConfirm">Password confirmation: </label> <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required> 
                           <p class="help-block"> <span ng-show="userForm.passwordConfirm.$error.validator">Passwords do not match!</span> </p>
                        </div>
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine, 'has-success' : userForm.phone.$valid && !userForm.phone.$pristine}">
                        <label for="phone">Phone: </label> <input type="text" name="phone" id="phone" class="form-control" ng-model="user.phone"> 
                        <p class="help-block"> <span ng-show="userForm.phone.$invalid && !userForm.phone.$pristine">Phone in bad format.</span> </p>
                     </div>
                     
                  </div>
                  <!-- /tile body --> <!-- tile footer --> 
                  <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                     <!-- SUBMIT BUTTON --> <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Submit</button> 
                  </div>
                  <!-- /tile footer --> 
               </section>
               <!-- /tile --> 
            </form>
            
         </div>
         <!-- /col --> <!-- col --> 
         <div class="col-md-6">
            
            
         </div>
         <!-- /col --> 
      </div>
      <!-- /row --> <!-- row --> 
     
      <!-- /row --> 
   </div>
   <!-- /page content --> 
</div>